@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b {
    color: darkblue;
}

.menu {
    height: 80px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-select:before {
    content: '';
    width: 100%;
    height: 4px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a {
    color: gray;
    font-size: 18px;
}

.menu nav ul li a:hover {
    color: darkblue;
    transition: color 300ms;
}

.menu .text-menu-select {
    color: darkblue;
}

.menu nav ul li a i {
    display: none;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #efefef;
    border-radius: 100%;
    color: black;
    display: none;             
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover {
    opacity: 0.9;
}

/**
* Fin - header y menu.
------------------------------------------------------
------------------------------------------------------
*/


/**
* Inicio - portada.
-------------------------------------------------------
-------------------------------------------------------
*/

.container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../imagenes/imagen1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover {
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.container-info-cover h1 {
    font-size: 60px;
    font-weight: 500;
    color: darkblue;
    margin-bottom: 20px;
}

.container-info-cover p {
    color: black;
    font-size: 20px;
    font-weight: 300;
}

/**
* fin - portada.
-------------------------------------------------------
-------------------------------------------------------
*/


/**
* Inicio - contenedor - contenido articulo.
-------------------------------------------------------
-------------------------------------------------------
*/

.container-content {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article:before {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    background: darkblue;
}

article h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

article img {
    width: 100%;
    margin-top: 20px;
    border-radius: 7px;
}

/**
* fin - contenedor - contenido articulo.
-------------------------------------------------------
-------------------------------------------------------
*/


/**
* Inicio - aside - articulos.
--------------------------------------------------------
--------------------------------------------------------
*/

.container-aside aside {
    width: 320px;
    border-radius: 7px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img {
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p {
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: darkblue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

.container-aside aside button:hover {
    opacity: 0.9;
}

/**
* fin - aside - articulos.
-------------------------------------------------------
-------------------------------------------------------
*/


/**
* Inicio - sección - footer.
--------------------------------------------------------
--------------------------------------------------------
*/

.container-footer {
    width: 100%;
    padding: 40px 0px;
    background: #f7f7f7;
    margin-top: 40px;
    text-align: center;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.logo-footer {
    text-align: center;
}

.logo-footer img {
    width: 100px;
}

.redes-sociales-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-sociales-footer .icono-redes-footer {
    font-size: 25px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.container-footer footer hr {
    margin-top: 20px;
    height: 2px;
    background: black;
}

/**
* fin - sección - footer.
--------------------------------------------------------
--------------------------------------------------------
*/

/**
* css del boton - hacia - arriba.
--------------------------------------------------------
--------------------------------------------------------
*/

#boton-up {
    width: 50px;
    height: 50px;
    background: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}

#boton-up:hover {
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}
/**
* fin - del - css del boton - hacia - arriba.
--------------------------------------------------------
--------------------------------------------------------
*/


/**
* Inicio - colores - iconos - footer.
---------------------------------------------------------
---------------------------------------------------------
*/

.container-footer footer .redes-sociales-footer .fa-github:hover {
    background: black;
    color: white;
}

.container-footer footer .redes-sociales-footer .fa-whatsapp:hover {
    background: green;
    color: white;
}

/**
* Fin - colores - iconos - footer.
---------------------------------------------------------
---------------------------------------------------------
*/


/**
* Responsive - Design - adaptable - dispositivos - moviles.
----------------------------------------------------------
----------------------------------------------------------
*/

@media screen and (max-width: 1220px) {

    .header-content,
    .container-content,
    .container-footer footer {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    
    .container-content {
        width: 100%;
        flex-direction: column;
    }
    
    article {    
        box-shadow: 0 0 0 0;
    }
    
    .container-aside {
        display: flex;
        justify-content: center;
    }
    
    .container-aside aside {
        max-width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    
    .container-all {
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .move-container-all {
        transform: translateX(300px);
    }
    
    .menu {
        width: 0px;           
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: white;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .show-lateral {
        width: 300px;                        
        transform: translateX(0px);
    }
    
    .menu nav ul {
        flex-direction: column;
    }
    
    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    
    .menu-select:before {
        width: 0;
    }
    
    .menu nav ul li a {
        margin-top: 40px;
        color: gray;
    }
    
    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: darkblue; 
    }
    
    #icon-menu {
        display: flex;   
    }
    
    .container-aside {
        flex-wrap: wrap;
    }
}

/**
* Tarjetas.
---------------------------------------------------------------
---------------------------------------------------------------
*/

.container-cards {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-cards .card {
    width: 330px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container-cards .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-cards .card img {
    width: 330px;
    height: 220px;
}

.container-cards .card h4 {
    font-weight: 600;
}

.container-cards .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-cards .card a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
}

h2 {
    text-align: center;
}

/**
* fin tarjetas.
-----------------------------------------------------------
-----------------------------------------------------------
*/